body { padding:0;margin:0 }
div.docleft { z-index:1;background-color:#ffffff;position:fixed;left:0;top:0px;height:98%;overflow-y:auto;padding:5px 10px 5px 10px }
div.docright { /*margin-left:380px;*/margin-left:auto;padding-right:20px;height:100% }
div.group { font-family:verdana;font-size:20px;border-bottom:1px solid #888888;margin-top:10px;margin-bottom:10px }
div.entry a, div.entrydetail a { font-family:verdana;text-decoration:none;font-size:14px;color:#0000ff }
div.entry a:visited, div.entrydetail a:visited { color:#0000ff }
div.entry a:active, div.entrydetail a:active { color:#0000ff }
div.entry a:hover, div.entrydetail a:hover { background-color:#00ff00 }
div.entrydetail { padding:5px;padding-bottom:50px;display:none }
div.entrydetail ul li { margin-bottom:10px }
div.entrydetail ul.nomargin li { margin-bottom:0px }
div.entrydetail h2 { font-family:verdana;font-weight:bold;font-size:19px;margin-bottom:0;padding-bottom:0 }
div.entrydetail div.declaration { background-color:#e6e6e6;font-family:verdana;font-size:16px;font-style:normal;padding:10px 5px 10px 5px;margin-bottom:25px;text-overflow:ellipsis;overflow:hidden }
div.entrydetail div.declaration pre { text-overflow:ellipsis;overflow:hidden }
div.entrydetail div.code { background-color:#e6e6e6;font-family:verdana;font-style:normal;;font-size:12px;padding:10px 5px 10px 5px;margin:25px 0 25px 0;text-overflow:ellipsis;overflow:hidden;white-space:nowrap }
div.entrydetail div.parameters { margin-top:15px;padding-bottom:10px }
div.entrydetail div.parameters div.param { margin-top:10px }
div.entrydetail div.parameters div.param div.name { font-style:italic;font-family:verdana;font-size:14px }
div.entrydetail div.parameters div.param div.desc { margin-top:10px;margin-left:35px;font-style:normal;font-family:verdana;font-size:16px }
div.entrydetail div.parameters div.param div.none { margin-top:10px;font-style:normal;font-family:verdana;font-size:16px }
div.entrydetail div.description { font-style:normal;font-family:verdana;font-size:16px;padding-top:10px;padding-bottom:10px }
div.entrydetail div.return { font-style:normal;font-family:verdana;font-size:16px;padding-top:10px }